@use '../abstracts/' as *;

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  transform: scale(1);
  color: white;
  display: block;

  &--left {
    position: absolute;
    inset: 50% auto auto 7rem;
    z-index: 1;
    transform: translateY(-50%);
    opacity: 0.5;

    @include respond(tab-land) {
      inset: 50% auto auto 3rem;
    }
  }

  &--right {
    position: absolute;
    inset: 50% 7rem auto auto;
    transform: translateY(-50%);
    opacity: 0.5;

    @include respond(tab-land) {
      inset: 50% 3rem auto auto;
    }
  }

  &__dot {
    background-color: white;
    opacity: 0.5;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: all 0.5s;

    &--active {
      opacity: 1;
    }
  }

  &--mobile {
    display: none;

    @include respond(phone) {
      align-self: end;
      margin-right: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      z-index: 4;
      box-shadow: 0 1rem 3rem rgba(black, 0.1);
    }
  }

  &__background {
    display: none;

    @include respond(phone) {
      display: inline-block;
      background-color: var(--clr-primary-700);
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      inset: 5.3rem 3.5rem auto auto;
      transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);

      &--open {
        display: block;
        transform: scale(110);
      }
    }
  }

  &--down {
    grid-row: 5;
    animation: moveInBottom 1s ease-out;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--clr-primary-700);
    transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &--primary {
      &:hover {
        transform: scale(1.5);
      }
    }

    &--white {
      fill: white;
      &:hover {
        transform: scale(1);
      }
    }

    &:hover {
      fill: var(--clr-primary-400);
      opacity: 1;
    }
  }

  &--primary {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--clr-primary-700);
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
      transform: scale(1.1);
      background-color: var(--clr-primary-600);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &--active {
    display: block;
  }
}
