@use '../abstracts/' as a;

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: white;

  &--primary {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--clr-primary-700);
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
      transform: scale(1.2);
      background-color: var(--clr-primary-600);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &--left {
    position: absolute;
    inset: auto auto auto 8rem;
  }

  &--right {
    position: absolute;
    inset: auto 8rem auto auto;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    transition: scale(1);
    transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &--down {
      fill: var(--clr-primary-700);
    }

    &--white {
      fill: white;
    }

    &:hover {
      fill: var(--clr-primary-400);
    }
  }
}
