@use '../abstracts/' as *;

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  transform: scale(1);
  color: white;
  display: block;

  &__mobile {
    display: none;

    @include respond(phone) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 7rem;
      width: 7rem;
      position: relative;
      border-radius: 50%;
      z-index: 4;
      box-shadow: 0 1rem 3rem rgba(black, 0.1);
    }
  }

  &--down {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--clr-primary-700);
    transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);

    &--primary {
      &:hover {
        transform: scale(1.5);
      }
    }

    &--white {
      fill: white;
      &:hover {
        transform: scale(1);
      }
    }

    &:hover {
      fill: var(--clr-primary-400);
    }

    &--mobile {
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 0.2rem;
        background-color: var(--clr-primary-700);
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &::before,
      &::after {
        content: '';
        display: block;
      }
    }

    &--close {
      display: none;
    }
  }

  &--primary {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--clr-primary-700);
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
      transform: scale(1.1);
      background-color: var(--clr-primary-600);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &--left {
    position: absolute;
    inset: auto auto auto 8rem;
  }

  &--right {
    position: absolute;
    inset: auto 8rem auto auto;
  }
}
