@use '../abstracts/' as *;

@each $number, $value in $whitespaces {
  .u-margin-bottom-#{$number} {
    margin-bottom: $value !important;
  }

  .u-padding-right-#{$number} {
    padding-right: $value !important;
  }

  .u-padding-left-#{$number} {
    padding-left: $value !important;
  }

  .u-padding-bottom-#{$number} {
    padding-bottom: $value !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-opacity-1 {
  opacity: 1 !important;
}

.u-align-self-center {
  align-self: center !important;
}

.u-margin-right-auto {
  margin-right: auto !important;
}

.u-font-size-17 {
  font-size: 1.7rem !important;
}

.u-lazy-img {
  filter: blur(2rem);
}
