@use '../abstracts/' as *;

.main {
  display: grid;
  grid-template-columns: $grid-columns;
  grid-template-rows: min-content 44vw min-content 44vw;
  grid-column: full-start / full-end;

  @include respond(tab-land) {
    grid-template-rows: min-content 70vw min-content 70vw;
  }

  @include respond(tab-port) {
    grid-template-rows: min-content 90vw min-content 90vw;
  }

  .about-me {
    grid-column: col-start 2 / col-end 7;
    padding: 10rem 3rem;

    @include respond(tab-port) {
      grid-column: center-start / center-end;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
    }

    &__des {
      display: grid;
      row-gap: var(--gap-600);
    }

    &__list {
      display: grid;
      row-gap: var(--gap-400);
      font-size: var(--fs-300);
      color: var(--clr-neutral-300);
    }

    &__text {
      opacity: 0.8;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        font-weight: var(--fw-500);
        color: var(--clr-neutral-800);
        border-bottom: 0.2rem solid var(--clr-neutral-800);
        transform: scale(1);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: var(--clr-primary-600);
        transform: scale(1.05);
        border-bottom: 0.2rem solid var(--clr-primary-600);
      }
    }
  }

  .skills {
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-900);
    padding: 10rem 3rem;

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      place-items: center;
      row-gap: var(--gap-800);
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: var(--gap-400);
      align-items: center;
      opacity: 0.3;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:hover .skills__img {
        transform: scale(1.2);
      }
    }

    &__title {
      font-size: var(--fs-400);
    }

    &__img {
      transform: scale(1);
      transition: all 0.1s ease-in-out;
    }
  }

  .contact {
    background-color: hsl(27, 37%, 10%, 0.7);
    grid-column: full-start / full-end;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    color: white;
    text-align: center;
    gap: var(--gap-700);

    &__figure {
      width: 100%;
      height: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      position: relative;
      z-index: -1;
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__heading {
      display: flex;
      flex-direction: column;
      gap: var(--gap-400);
      grid-column: 1;
      grid-row: 2 / 3;
    }

    &__des {
      opacity: 0.9;

      @include respond(phone) {
        display: none;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
    }
  }
}
