@use '../abstracts/' as *;

.main {
  display: grid;
  grid-template-columns: $grid-columns;
  grid-template-rows: min-content 44vw min-content 44vw;
  grid-column: full-start / full-end;
  row-gap: var(--gap-900);

  @include respond(tab-land) {
    grid-template-rows: min-content 70vw min-content 70vw;
  }

  @include respond(tab-port) {
    grid-template-rows: min-content 90vw min-content 90vw;
  }

  @include respond(phone) {
    grid-template-rows: min-content min-content 90vw min-content 90vw;
  }

  .about-me {
    grid-column: col-start 2 / col-end 7;

    @include respond(tab-port) {
      grid-column: full-start / full-end;
    }

    &__des {
      display: grid;
      row-gap: var(--gap-600);
    }

    &__list {
      display: grid;
      row-gap: var(--gap-400);
      font-size: var(--fs-300);
      color: var(--clr-neutral-300);

      @include respond(tab-port) {
        padding: 0 3rem;
      }
    }

    &__text {
      opacity: 0.8;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        font-weight: var(--fw-500);
        color: var(--clr-neutral-800);
        border-bottom: 0.2rem solid var(--clr-neutral-800);
        transform: scale(1);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: var(--clr-primary-600);
        transform: scale(1.05);
        border-bottom: 0.2rem solid var(--clr-primary-600);
      }
    }
  }

  .skills {
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-900);

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      place-items: center;
      column-gap: var(--gap-300);
      row-gap: var(--gap-800);
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: var(--gap-400);
      align-items: center;
      opacity: 0.3;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:hover .skills__img {
        transform: scale(1.2);
      }
    }

    &__title {
      font-size: var(--fs-400);
    }

    &__img {
      transform: scale(1);
      transition: all 0.1s ease-in-out;
    }
  }

  .contact {
    background-image: linear-gradient(
        hsl(27, 37%, 10%, 0.7),
        hsl(27, 37%, 10%, 0.7)
      ),
      url('../img/contact-me.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: var(--gap-700);
    padding: 7rem 3rem;

    &__heading {
      display: flex;
      flex-direction: column;
      gap: var(--gap-400);
    }

    &__des {
      opacity: 0.9;

      @include respond(phone) {
        display: none;
      }
    }
  }
}
