// COLORS
$color-primary: #826f66;
$color-primary-light: #8f7d75;
$color-primary-dark: #75645c;

$color-grey: #221305;
$color-grey-light-1: #382b1e;
$color-grey-dark-1: #1f1105;

$color-white: #ffffff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$default-font-size: 2rem;
