@use '../abstracts/' as *;

.footer {
  grid-column: full-start / full-end;
  background-color: hsl(27, 37%, 10%, 0.1);
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  align-items: center;
  gap: var(--gap-400);
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
  }
}
