@use '../abstracts/' as *;

.header {
  grid-column: full-start / full-end;
  background-color: var(--clr-primary-100);
  display: grid;
  place-items: center;
  padding: 4.8rem;
  min-height: 100vh;
  margin-bottom: var(--gap-900);
  position: relative;

  @include respond(tab-port) {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-900);
    justify-content: center;
  }

  @include respond(phone) {
    padding: 0;
    gap: var(--gap-500);
  }
}
