@use '../abstracts/' as *;

.header {
  grid-column: full-start / full-end;
  background-color: hsl(27, 37%, 10%, 0.1);
  display: grid;
  place-content: center;
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  padding: 3rem 4.8rem 4.8rem;
  min-height: 100vh;
  position: relative;
  margin-bottom: var(--gap-900);

  @include respond(tab-port) {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-900);
    justify-content: center;
  }

  @include respond(phone) {
    padding: 0;
    gap: var(--gap-500);
  }
}
