@use '../abstracts/' as *;
@use '../base/' as *;

.hero {
  color: #fff;
  display: flex;
  background-color: var(--clr-primary-700);
  border-radius: 2rem;
  padding: 5rem;
  gap: var(--gap-500);

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
  }

  &__img {
    animation: moveInLeft 1s ease-out;

    img {
      border-radius: 2rem;
      display: block;
      height: 25rem;
    }
  }

  &__info {
    animation: moveInRight 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond(tab-port) {
      gap: var(--gap-400);
    }

    @include respond(phone) {
      align-items: center;
      gap: var(--gap-500);
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: var(--gap-100);

    @include respond(phone) {
      text-align: center;
      gap: var(--gap-200);
    }
  }

  &__des {
    font-size: 2.7rem;
    font-weight: var(--fw-400);
    opacity: 0.87;
  }
}
