@use '../abstracts/' as *;

.hero {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6.4rem;
  background-color: var(--clr-primary-700);
  border-radius: 2rem;
  padding: 6.4rem 8rem;

  @include respond(tab-land) {
    padding: 5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    gap: 0;
    margin-bottom: var(--gap-900);
  }

  @include respond(phone) {
    width: 100%;
    border-radius: 0;
    padding: 7rem 3rem;
  }

  &__img {
    img {
      border-radius: 2rem;
      display: block;
      height: 25rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__info {
    display: grid;
    gap: 6.4rem;

    @include respond(tab-port) {
      place-items: center;
    }
  }

  &__heading {
    display: grid;
    gap: 1.6rem;

    @include respond(tab-port) {
      place-items: center;
    }
  }

  &__des {
    font-size: 2.7rem;
    font-weight: var(--fw-400);
    opacity: 0.9;
  }
}
