@use '../abstracts/' as *;

.nav {
  align-self: start;

  @include respond(tab-port) {
    align-self: center;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8rem;

    &--down {
      gap: var(--gap-400);
      text-align: center;
    }

    // &--mobile {
    //   display: grid;
    //   place-content: center;
    //   min-height: 100vh;
    //   text-align: center;
    //   gap: 4rem;
    // }

    &--main {
      @include respond(phone) {
        display: none;
      }
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__item {
    font-size: 1.6rem;
  }

  &__link {
    display: inline-block;
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      transform: scale(1);
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover,
    &:active {
      color: var(--clr-primary-600);
      transform: scale(1.1);
    }
  }
}
